/* Variables */
:root{
    --mainFont: Serif;
    --primaryFont: Inter;
    --mainCol: #1F4A42;
    --primaryCol: #F2D07D;
    --lightGray: #F3F3F3;
    --Gray: #87888B;
    --dark: #3E3F42;
}
/* General Style */
/* Header */
header{
    background-color: var(--lightGray);
    color: var(--dark);
    font-family: var(--primaryFont);
    position: sticky;
    top: 0px;
}

.upper-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

section.breadcrumb-container{
    padding: 10px 20px;
    color: #a5a3a3;
    border-bottom: 1px solid #D6D6D6;
}

section.breadcrumb-container a{
    color: #a5a3a3;
}

.logo-container a{
    font-family: var(--mainFont);
    font-size: 2em;
    font-weight: bold;
}

main{
    padding: 10px;
}

a:hover,
a:link,
a:active,
a:visited{
    color: var(--dark);
    text-decoration: none;
}

header form{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

a.current-nav{
    text-decoration: underline;
}

.search-bar-container{
    background-color: white;
    border-radius: 10px;
    display: flex;
    height: 2em;
    align-items: center;
    gap: 10px;
    flex-grow: 0.5;
    padding: 0px 45px;
    outline: none;
    border: none;
    position: relative;
    font-size: 1em;
    color: var(--Gray);
}

i.fa-search{
    position: absolute;
    left: 30.5%;
    font-size: 1.1rem;
    z-index: 1;
}

.toolbar-container{
    display: flex;
    font-size: 1.3em;
    gap: 1.3em;
}

.toolbar-container a{
    transition: transform 0.2s ease;
}

.toolbar-container a:hover{
    transform: scale(1.1);
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    padding: 15px;
    gap: 30px;
    font-weight: bold;
    font-family: var(--primaryFont);
    font-size: 1.1em;
}

nav a:hover{
    text-decoration: underline;
}

@media screen and (min-width: 1300px)
{
    i.fa-search{
        left: 29%;
    }
}

/* Body */

.image-size{
    width: 220px;
    height:350px;
    
}

.slider-wrapper{
    display: grid;
    grid-column: span 4;
    height: 500px;
    width: 100%;
}
.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%,0%,0.25);
    height:500px;
    width: 100%;
}
.slider::-webkit-scrollbar {
    display: none;  /* For Chrome, Safari, and newer versions of Edge */
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slide-nav{
    display: flex;
    column-gap:1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a:hover{
    opacity: 1;
}
.image_banner{
    height: 500px;
    width: 100%;
}

.saved-circle input {
    display: none;
}
.saved-circle .default {
    font-size: 20px;
    color: black;
    cursor: pointer;
}
  
.saved-circle .change {
    font-size: 20px;
    color: red;
    display: none;
    cursor: pointer;
}
  
.saved-circle input:checked ~ .default {
    display: none;
}
.saved-circle input:checked ~ .change {
    display: inline-block;
}

/* Footer */
footer{
    border: 1px solid black;
    width: 100%;
    height: auto;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    font-family: var(--primaryFont);
    color: white;
    gap: 10px;
}

.subscribe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

p.subscribe-text{
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

footer form{
    width: 100%;
    display: flex;
    justify-content: center;
}

footer form input{
    height: 30px;
    padding: 5px 10px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
}

footer form input[type="email"]{
    width: 30%;
}

footer form input[type="submit"]{
    background-color: #87888B;
    color: white;
    height: 40px;
}

footer form input[type="submit"]:hover{
    cursor: pointer;
    background-color: #77787a;
}

footer form input[type="submit"]:active{
    cursor: pointer;
    background-color: #626263;
}

.links-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 0px 50px;
}

.link-logo{
    font-family: var(--mainFont);
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.link-title{
    font-size: 1.1em;
    margin-bottom: 10px;
    font-weight: bold;
}

.inner-links-container ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inner-links-container:last-child ul{
    flex-direction: row;
    gap: 20px;
}

.inner-links-container:last-child ul li a{
    font-size: 1.3em;
}

.inner-links-container:last-child ul li{
    transition: transform 0.2s ease;
}

.inner-links-container:last-child ul li:hover{
    transform: scale(1.2);
}

.inner-links-container ul li a{
    color: white;
}

.inner-links-container ul li a:hover{
    text-decoration: underline;
}

.copright-container{
    display: flex;
    justify-content: center;
}

/* Main */

.product-items{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: var(--primaryFont);
}

main.products{
    padding: 0px 30px;
}

.products-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    padding:20px;
    gap:20px;
}

.product-img{
    width: 220px;
    height: 350px;
    background-color: #1F4A42;
}

.saved-circle{
    border: 1px solid black;
    background-color: #f9f9f9;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    position: relative;
    top: 18%;
    left: 55%;
    box-sizing: border-box;
}

.add-to-cart-btn{
    border: 1px solid black;
    width: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart-btn:hover{
    background-color: var(--Gray);
    color: white;
    cursor: pointer;
    border: none;
}