/* Variables */
:root{
    --mainFont: Inria-Serif;
    --primaryFont: Inter;
    --mainCol: #1F4A42;
    --primaryCol: #F2D07D;
    --lightGray: #F3F3F3;
    --Gray: #87888B;
    --dark: #3E3F42;
}
/* General Style */
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
.advertise-text-run{
    background-color: var(--primaryCol);
    display: flex;
    align-items: center;
    height: 30px;
    color: var(--mainCol);
    font-family: var(--primaryFont);
    font-weight: bold;
}

/* Main : About Us */

main.about-us-page{
    font-family: var(--primaryFont);
    padding: 10px 30px;
    overflow: auto;
}

.about-us-title{
    font-size: 32px;
    font-weight: bold;
    color: var(--dark);
}

span.about-us-title{
    font-family: var(--mainFont);
}

.about-us-label{
    font-size: 26px;
    color: var(--dark);
    font-weight: bold;
}

.about-us-inner-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.about-us-collection-container{
    display: flex;
    justify-content: space-between;
}

.about-us-collection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    font-family: var(--mainFont);
    width: 35%;
}

span.about-us-description-logo{
    font-weight: bold;
}

.collection-left{
    align-self: flex-start;
}

.collection-right{
    align-self: flex-end;
}

img.collection-img{
    width: 50%;
    height: 100%;
}

.about-us-inner-container ul{
    margin-left: 1.5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-us-team-container{
    display: flex;
    justify-content: space-between;
    height: 60vh;
    flex-wrap: wrap;
}

.about-us-team{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    align-items: center;
    width: 200px;
    height: 100%;
}

.about-us-team img{
    width: 100%;
    height: 80%;
}

.about-us-team .social-container{
    display: flex;
    gap: 20px;
}

.about-us-team .social-container a i{
    font-size: 25px;
}

.social-container a{
    transition: transform 0.2s ease;
}

.social-container a:hover{
    transform: scale(1.2);
}

.about-us-team p.name{
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--dark);
}

.about-us-team-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

/* Main : Contact Us */
main.contact-page{
    font-family: var(--primaryFont);
    padding: 10px 30px;
}
.contact-us-title{
    font-size: 32px;
    color: var(--dark);
    font-weight: bold;
}

.contact-form-container{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    margin-top: 10px;
}

.contact-information-container{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

form.contact-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.inner-container-form{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.inner-container-form input, .inner-container-form textarea {
    border: 1px solid var(--mainCol);
    outline: none;
    display: flex;
    align-items: center;
    height: 20px;
    width: 75%;
    padding: 10px 10px;
    font-size: 16px;
    color: var(--mainCol);
}

.inner-container-form textarea{
    height: 200px;
    font-size: 16px;
    font-family: var(--primaryFont);
}

.inner-container-form label{
    font-weight: bold;
    color: var(--dark);
}

form.contact-form input[type="submit"]{
    width: 20%;
    height: 40px;
    font-weight: bold;
    font-size: 1.1em;
    border: none;
    outline: none;
    background-color: var(--primaryCol);
    color: var(--mainCol);
}

form.contact-form input[type="submit"]:hover{
    cursor: pointer;
    background-color: #ebc86f;
}

form.contact-form input[type="submit"]:active{
    background-color: #d2ac4a;
}

.contact-information-container{
    color: var(--mainCol);
    gap: 50px;
}

.contact-information-container a i {
    font-size: 60px;
    color: var(--mainCol);
}

.inner-contact-information{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    text-align: center;
    border: 2px solid var(--mainCol);
    width: 190px;
    height: 190px;
    text-decoration: none;
}

p.contact-info-label{
    font-weight: bold;
}

p.contact-info{
    font-size: 14px;
}

p.contact-us-map-title{
    font-weight: bold;
    font-size: 24px;
    color: var(--dark);
}

.contact-us-location{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 20px;
}

.contact-us-location a img{
    width: 100%;
    height: 350px;
}

/* Main : Product Detail */
main.product-detail-page{
    padding: 30px 30px;
    font-family: var(--primaryFont);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-detail-img{
    width: 30%;
    height: 500px;
}

.product-detail-img img{
    width: 100%;
    height: 100%;
}

.upper-detail-container{
    display: flex;
    gap: 30px;
}

.product-detail-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p.product-small-info{
    color: rgb(157, 157, 157);
    font-size: 16px;
}

p.product-detail-name{
    font-size: 48px;
    font-weight: bold;
}

p.product-detail-price{
    font-size: 48px;
    color: var(--mainCol);
    font-weight: bold;
}

p.product-detail-description-label{
    font-size: 26px;
    font-weight: bold;
}

.product-detail-size-color-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inner-product-detail-size-color{
    display: flex;
    gap: 10px;
}

.size-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--mainFont);
    width: 20px;
    height: 20px;
    border: 2px solid black;
    padding: 10px;
}

.size-container:hover{
    cursor: pointer;
}

.red{
    background-color: #BE3434;
}

.black{
    background-color: black;
}

.gray{
    background-color: #EDEDED;
}

.brown{
    background-color: #675D5D;
}

.product-detail-add-to-cart{
    border: 2px solid var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 10%;
    font-size: 1.2em;
}

.product-detail-add-to-cart:hover{
    background-color: var(--Gray);
    color: white;
    cursor: pointer;
}

.product-detail-add-to-cart:active{
    background-color: rgb(119, 119, 119);
    color: white;
    cursor: pointer;
}

.product-detail-img-container {
    width: 30%; /* This is fine */
    height: 100%; /* Make it fill the parent's height */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lower-product-detail-container {
    display: flex;
    gap: 30px;
    height: 500px;
}

.upper-product-img-container{
    display: flex;
    gap: 20px;
    height: calc((100% - 30px) / 2);
}

img.product-detail-small-img{
    width: calc((100% - 20px) / 2);
    height: 100%;
}

.lower-product-img-container{
    max-width: 100%;
    height: calc((100% - 30px) / 2);
}

img.product-detail-big-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-detail-img-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.size-chart-container {
    flex-grow: 1; 
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p.size-chart-title{
    font-size: 36px;
    font-weight: bold;
}

.size-chart-inner-container{
    display: flex;
    gap: 30px;
}

.size-chart-description{
    flex-grow: 1;
}

.size-chart-side-nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.size-chart-description{
    display: grid;
    grid-template: 1fr 1fr / repeat(4, 1fr);
}

.bg-black{
    color: white;
    background-color: black;
}

.size-items{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.size-label{
    font-size: 1.5em;
}

.size-value{
    font-size: 2em;
}

/* Main : Save Page */
main.save-page{
    font-family: var(--primaryFont);
    padding: 10px 30px;
}

.save-page-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.save-page-title{
    font-size: 28px;
    color: var(--dark);
    font-weight: bold;
}

.save-page-products-container{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.saved-products{
    width: 200px;
    height: 370px;
}

.save-products-picture{
    width: 100%;
    height: 80%;
}

p.saved-products-price{
    font-weight: bold;
}

.saved-products-tools{
    display: flex;
    gap: 5px;
    align-items: center;
}

.saved-products-add-to-cart{
    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saved-products-add-to-cart:hover{
    background-color: var(--Gray);
    color: white;
    cursor: pointer;
}

.saved-products-add-to-cart:active{
    background-color: rgb(119, 119, 119);
    color: white;
    cursor: pointer;
}

.saved-products-save-icon{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 1.2em;
}